*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style:none ;
}

html, body {
    overflow:hidden;
    margin:0;
    padding:0;

    /*Avoid flicker on slides transitions for mobile phones #336 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.1;
    margin: 0;
    padding: 0;
    color: #b9adad;
}

.section {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    text-align: center;
}


.sf-menu li a:target {
    color: #ff8a26;
}


/* #pagepiling #firstPage {
    background: url(./assets/pexels-sebastiaan-stam-1480688.jpg);
    background-size: cover;
}

#pagepiling #twoPage {
    background: url(./assets/pexels-sebastiaan-stam-1304642.jpg);
    background-size: cover;
}

#pagepiling #threePage {
    background: url(./assets/pexels-stephan-müller-1473215.jpg);
    background-size: cover;
}

#pagepiling #forthPage {
    background: url(./assets/pexels-tnarg-1606386.jpg);
    background-size: cover;
}

#pagepiling #fivePage {
    background: url(./assets/pexels-sebastiaan-stam-1482476.jpg);
    background-size: cover; 
}
 */

.section {
    width: 100%;
    height: 100vh; 
    overflow: hidden;
  }
  

#pagepiling img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


.header{
    position:absolute;
    z-index:60;
    top:0;
    left:0;
    width:100%;
}

.vlt-navbar{
    position:relative;
    z-index:70;
}

.vlt-navbar--sticky{
    position:fixed;
    top:0;
    left:0;
    width:100%;
}

.vlt-navbar .vlt-navbar-logo{
    line-height:1;
    display:inline-block;
    vertical-align:middle;
}
.vlt-navbar .vlt-navbar-logo img{
    display:block;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5.8rem;
  }

.sf-menu{
    display: inline-flex;
    font-size:0;
    height:100%;
    width: 100%;
    pointer-events:auto;
    align-items:center;
    justify-content: center;
    text-align: center;
}



.sf-menu>li>a{
    font-size:15px;
    font-weight:500;
    letter-spacing:.02em;
    text-transform:uppercase;
    color: #f5f5f5;
    transition: color 0.7s !important;
}


.sf-menu>li+li{
    margin-left:3.125rem;
}


#pp-nav span, .pp-slidesNav span{
    border-color: #837c7c !important; 
}  


#pp-nav li .active span, .pp-slidesNav .active span  {
    background-color: #ffffff;
}

.sf-menu>li:hover>a{
    color:#ff8a26;
}

.vlt-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vlt-navbar-logo {
    margin-left: 1rem;
}

.vlt-navbar-contacts{
    font-size:1rem;
    white-space:nowrap;
    display: flex;
    align-items: center;
    margin-left: 50%;
}

.vlt-navbar-contacts a {
    color: #f5f5f5;
}

.vlt-menu-burger{
    font-size:1.75rem;
    display: flex;
    height: fit-content;
}
.vlt-menu-burger svg{
    width:1em;
    height:1em;
    transition:transform .3s,-webkit-transform .3s;
    color:#f5f5f5;
}

.vlt-menu-burger:hover svg{
    -webkit-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    transform:rotate(180deg);
}

.contact {
    height: 480px;
    justify-content: center;
    margin-top: 12.5%;
    display: none;
}

.contact-container {
    display: flex;
    justify-content: space-between; /* Add this line */
    align-items: center; /* Add this line */
    width: 90%;
    height: 100%;
    z-index: 1;
    /* border: #ff8a26 dotted 3px; */
    position: relative;
}


.content-fit {
    display: flex;
    width:100%;
    justify-content: space-between; /* Adjust as per your layout */
    z-index: 1;
    /* border: red dotted 3px; */
}

.network {
    display: flex;
    flex-direction: column;
    z-index: 1;
    /* border: #b9adad dotted 3px; */
    flex: 0 0 20%;
    margin-left: 15%;
}

.network h3 {
    font-size: 3.125rem;
    line-height: 1.35;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: #fff;
    z-index: 1;
}

.network p {
    display: flex;
    font-size: 1.07rem;
    color: rgba(255,255,255,.6);
    z-index: 1;
    line-height: 1.5rem;
    margin
}

.network p:nth-child(2) {
    margin-bottom: 3.2rem;
    z-index: 1;
}

.network p:nth-child(3) a:hover, .network p:nth-child(4) a:hover, .network p:nth-child(5) a:hover  {
    text-decoration: underline 1px;
}

.network p .tel {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.3;
    color: #fff;
    margin-bottom: 2rem;
    z-index: 1;
}

.message {
    z-index: 1;
    /* border: #b9adad dotted 3px; */
    flex: 0 0 48%;
    padding-right: 17%;
}
.message h4{
    font-size: 28px;
    color: #f5f5f5;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    z-index: 1;
}

.message span {
    color: #ff8a26;
}



.message {
    z-index: 1;
    width: 28%;
}

.form-group input::placeholder {
    font-size:16px ;
}

.form-group #message {
    padding-top: 2rem;
    padding-bottom: 2rem;

}

input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

*, ::after, ::before {
    box-sizing: border-box;
}

input[type="text" i] {
    padding: 1px 2px;
}

input[type=date], input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url], select, textarea {
    font-size: 1rem;
    display: block;
    width: 100%;
    margin-bottom: 30px;
    padding: 1rem 1rem;
    -webkit-transition: all .3s;
    transition: all .3s;
    color: #fff;
    border: none;
    border-bottom: 1px solid rgba(255,255,255,.4);
    outline: 0;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button {
    height: 2.8125rem;
    padding: 0 2.8125rem;
    font-size: .75rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    background-color: #ff8a26;
    line-height: 1.1;
    position: relative;
    z-index: 1;
    display: inline-flex;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
    white-space: nowrap;
    border: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

button:hover{
    color:#fff;
    background-color:transparent;
    box-shadow:inset 0 0 0 1px #fff
}

.social-container {
    position: fixed;
    bottom: 0%;
    left: 50%; 
    transform: translateX(-50%); 
    color: #f5f5f5;
    z-index: 9999;
    width: auto; 
    padding: 10px; 
    display: flex; 
    justify-content: center; 
}

.social-icon {
    color: #f5f5f5;
    font-size: 1.3rem;
    margin: 1rem;
    transition: color 0.7s;
}

.social-icon:hover {
    color: #ff8a26;
}

#pagepiling {
    z-index: 1;
    overflow: hidden;
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;
}

.zoomed {
    transform: scale(1.1);
}

